<div class="login-container" [class.is-loading-cursor]="isLoading">
    <mat-card class="login-card">
        <mat-card-header class="header-center">
            <mat-card-title>User profile</mat-card-title>
        </mat-card-header>
        <mat-card-content style="padding: 24px;">

            <form class="my-form" *ngIf="profileForm" [formGroup]=profileForm (ngSubmit)="submit()">
                <mat-form-field [style.width.px]=600 class="col-sm-4 col-md-4 col-lg-4" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput type="firstName" formControlName="firstName" placeholder="First Name" required>
                    <mat-error *ngIf="profileForm.get('firstName')?.invalid">First Name is required</mat-error>
                </mat-form-field>

                <mat-form-field [style.width.px]=600 class="col-sm-4 col-md-4 col-lg-4" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput type="lastName" formControlName="lastName" placeholder="Last Name" required>
                    <mat-error *ngIf="profileForm.get('lastName')?.invalid">Last Name is required</mat-error>
                </mat-form-field>

                <mat-form-field [style.width.px]=600 class="col-sm-4 col-md-4 col-lg-4" appearance="outline">
                    <mat-label>Username</mat-label>
                    <mat-icon matPrefix>person</mat-icon>
                    <input matInput type="username" formControlName="username" placeholder="Username" required>
                    <mat-error *ngIf="profileForm.get('username')?.invalid">Username is required</mat-error>
                </mat-form-field>

                <mat-form-field [style.width.px]=600 class="col-sm-4 col-md-4 col-lg-4" appearance="outline">
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix>mail</mat-icon>
                    <input matInput type="email" formControlName="email" placeholder="Email address" required>
                    <mat-error *ngIf="profileForm.get('email')?.invalid">Email is required</mat-error>
                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions class="actions-center">
            <button type="button" class="spaced-button btn btn-sm btn-primary icon-container"><mat-icon
                    aria-hidden="false" aria-label="Sign in icon">save</mat-icon>Update</button>
            <button type="button" class="spaced-button btn btn-danger btn-sm icon-container"><mat-icon
                    aria-hidden="false" aria-label="Register icon">cancel</mat-icon>Cancel</button>
        </mat-card-actions>

    </mat-card>
</div>