/* Center the content inside the card actions (where the Login button is) */
.actions-center {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

/* align image with text in button */
.icon-container {
  display: inline-flex; /* Use inline-flex to keep the container inline with surrounding content */
  align-items: center;  /* Vertically centers the children (icon and text) */
  gap: 3px;             /* Optional: adds some space between the icon and the text */
}

.spaced-button {
  margin-right: 24px; /* Adds 8px of space to the right of the first button */
}