
<mat-card class="my-card">
   
    <mat-card-header>
        <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <mat-card-content style="padding: 24px;">

        <form class="my-form" *ngIf="forgotForm" [formGroup]=forgotForm (ngSubmit)="forgotPassword()">

            <mat-form-field [style.width.px]=600 class="col-sm-4 col-md-4 col-lg-4" appearance="outline">
                <mat-label>Email</mat-label>
                <mat-icon matPrefix>mail</mat-icon>
                <input matInput type="email" formControlName="email" placeholder="Email address" required>
                <mat-error *ngIf="forgotForm.get('email')?.invalid">Email is required</mat-error>
            </mat-form-field>

            <mat-form-field [style.width.px]=600 class="col-sm-4 col-md-4 col-lg-4" appearance="outline">
                <mat-label>Password</mat-label>
                <mat-icon matPrefix>key</mat-icon>
                <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password" placeholder="Password" required>
                <!-- <mat-icon matSuffix [matTooltip]="tooltipText" >info</mat-icon> -->
                <!-- The toggle button with the eye icon -->
                <button matSuffix mat-icon-button aria-label="Toggle password visibility" (click)="togglePasswordVisibility()" type="button">
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <!-- <mat-error *ngIf="forgotForm.get('password')?.invalid">Password not matching required condition</mat-error> -->
            </mat-form-field>

               @if (forgotForm.get('password')?.hasError('pattern')) {
                <mat-error>Password Must contain below conditions.
                <ul>
                    <li [ngClass]="{'text-success':checkValidations(forgotForm.controls['password'],'uppercase'), 'danger': !checkValidations(forgotForm.controls['password'],'uppercase')}">Min 1 Uppercase Letter.</li>
                    <li [ngClass]="{'text-success':checkValidations(forgotForm.controls['password'],'lowercase'), 'danger': !checkValidations(forgotForm.controls['password'],'lowercase')}">Min 1 Lowercase Letter.</li>
                    <li [ngClass]="{'text-success':checkValidations(forgotForm.controls['password'],'special-character'), 'danger': !checkValidations(forgotForm.controls['password'],'special-character')}">Min 1 Special Character.</li>
                    <li [ngClass]="{'text-success':checkValidations(forgotForm.controls['password'],'number'), 'danger': !checkValidations(forgotForm.controls['password'],'number')}">Min 1 Number.</li>
                    <li [ngClass]="{'text-success':checkValidations(forgotForm.controls['password'],'length'), 'danger': !checkValidations(forgotForm.controls['password'],'length')}">Min 8 Characters.</li>
                    <li [ngClass]="{'text-success':checkValidations(forgotForm.controls['password'],'length'), 'danger': !checkValidations(forgotForm.controls['password'],'length')}">Max 16 Characters.</li>
                </ul>
            </mat-error>
        }

        <mat-form-field [style.width.px]=600 class="col-sm-4 col-md-4 col-lg-4" appearance="outline">
            <mat-label>Confirm Password</mat-label>
             <mat-icon matPrefix>key</mat-icon>
            <input  matInput  [type]="confirmPasswordB ? 'password' : 'text'" formControlName="confirmPassword" 
            placeholder="confirmPassword" required >
            <!-- The toggle button with the eye icon -->
            <button matSuffix mat-icon-button aria-label="Toggle password visibility" (click)="toggleConfirmPasswordVisibility()" type="button">
              <mat-icon>{{ confirmPasswordB ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <!-- <mat-error *ngIf="forgotForm.errors?.['passwordMismatch']">Password mismatch</mat-error> -->
            @if (forgotForm.get('confirmPassword')?.hasError('notSame')) {
            <mat-error>Passwords do not match</mat-error>
        }
    </mat-form-field>
</form>
</mat-card-content>
    <mat-card-actions>
        <!-- <button mat-raised-button (click)="forgotPassword()" color="primary">Submit</button>
        <button mat-raised-button (click)="clear()" color="primary">Clear</button> -->
        <button type="button" class="spaced-button btn btn-sm btn-primary" (click)="forgotPassword()">Submit</button>
        <button type="button" class="spaced-button btn btn-danger btn-sm" (click)="clear()">Clear</button>


    </mat-card-actions>
    
</mat-card>