.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

mat-card {
  width: 500px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.success {
  color: green;
  margin-top: 15px;
}